{% extends 'base.html' %}
{% block titulo %}
- Web Desing
{% endblock titulo %}

{% block main %}

<link rel="stylesheet" type="text/css" href="../static/css/c-webdesign.css">
    <main>

		<div class="titulo">
			<h1> Graduação em Web Design</h1>
		</div>

		<div class="descricao-curso">
			<section>
				<h2>Objetivo do curso</h2>
					<p>Aprender a criar seus próprios conteúdos e seja uma celebridade no mundo digital! Que tal aprender a compartilhar suas ideias, editar vídeos e traçar estratégias para dar destaque ao seu trabalho nas principais redes sociais do momento? Agora é  
					sua chance!</p>
			</section>
		</div>
		<div class="descricao-curso">
			<section>
				<h2>Descrição</h2>
					<p>Você aprenderá a dar um acabamento profissional aos seus vídeos,
						utilizando programas e ferramentas usadas por profissionais da área, assimilando os conceitos
						de marketing digital. Você também vai aprender sobre o que é ser um Youtuber, como criar um canal,
						quais ferramentas a plataforma oferece, além de realizar uploads de vídeos, gerar engajamento e analisar dados do canal. Assim, poderá vender, criticar, opinar e conquistar seguidores para alcançar a fama e o sucesso.</p>
			</section>
		</div>
		
		<div class="descricao-curso">
			<section>
				<h2>Mercado de trabalho</h2>
					<p>Por causa da formação generalista, o mercado oferece diversidade de vagas para o profissional de Design. Ele pode trabalhar como programador visual para o setor público, com design para web, como designer gráfico e ainda como designer de produto.</p>
					<p>Duração: 2 anos</p>
			</section>
		</div>
	
	</main>

	<section>
		<div class="grade-curso">
			<table border='1'>
				<th colspan="4">DISCIPLINAS</th>
					<tr>
						<td><b>1° SEMESTRE</b></td>
						<td><b>2° SEMESTRE</b></td>
						<td><b>3° SEMESTRE</b></td>
						<td><b>4° SEMESTRE</b></td>
					</tr>
					<tr>
						<td>Desenho de Observação e Perspectiva</td>
						<td>Introdução a HTML5</td>
						<td>Gestão de Projetos</td>
						<td>Tecnologia Web</td>
					</tr>
					<tr>
						<td>Fundamentos da Linguagem Visual</td>
						<td>Introdução a CSS3</td>
						<td>Línguagem de Programação</td>
						<td>Devops</td>
					</tr>
					<tr>
						<td>Língua Portuguesa</td>
						<td>Banco de Dados</td>
						<td>Libras</td>
						<td>Matemática Aplicada</td>
					</tr>
					<tr>
						<td>Metodologia do Projeto</td>
						<td>Internet das Coisas</td>
						<td>comunicação e Expressão</td>
						<td>Línguagem de Programação II</td>
					</tr>
			</table>
		</div>
	</section>
{% endblock main %}
