{% extends 'base.html' %}
{% block titulo %}
- Marketing 
{% endblock titulo %}

{% block main %}
<link rel="stylesheet" type="text/css" href="../static/css/c-marketing.css">
<main>
		<div class="titulo">
			<h1>Graduação em Marketing</h1>
		</div>
		<div class="descricao-curso">
			<section>
				<h2>Objetivo do curso</h2>
					<p>O Curso Superior de Tecnologia em Gestão de Marketing tem por objetivo formar
						profissionais capazes de definir as estratégias de marketing na atuação de uma
						empresa no mercado; coletar e analisar dados sobre o perfil do consumidor, tais
						como renda e hábitos de consumo, a fim de desenvolver produtos e serviços coerentes e
						planejar as formas de comercialização e comunicação; gerenciar as atividades de compra,
						armazenagem e distribuição de mercadorias, bem como identificar oportunidades de mercado.</p>
			</section>
		</div>

		<div class="descricao-curso">
			<section>
				<h2>Perfil do profissional</h2>
					<p>O analista de marketing está capacitado
						a trabalhar com o planejamento de estratégias de marketing e de pesquisa de mercado,
						assim como na criação e no desenvolvimento de novos produtos. Além disso, analisa o
						comportamento do consumidor, elabora estudos de segmentação e desenvolve planos de ação,
						estratégicos e táticos, com o objetivo de encontrar soluções para os desafios do mercado.</p>
			</section>
		</div>

		<div class="descricao-curso">
			<section>
				<h2>Mercado de trabalho</h2>
					<p>Especialista em identificar oportunidades de mercado para atrair o consumidor ou boa imagem para marca e serviços, o profissional de marketing pode atuar como empreendedor e gestor de marketing e também em vendas e varejo, relacionamento,
					logística e distribuição, promoção e merchandising, entre outras áreas.</p>
			</section>
		</div>
	</main>

	<section>
		<div class="grade-curso">
			<table border='1'>
				<th colspan="4">DISCIPLINAS</th>
					<tr>
						<td><b>1° SEMESTRE</b></td>
						<td><b>2° SEMESTRE</b></td>
						<td><b>3° SEMESTRE</b></td>
						<td><b>4° SEMESTRE</b></td>
					</tr>
					<tr>
						<td>Fundamentos das Ciências Sociais</td>
						<td>Administração de Marketing</td>
						<td>Mobile Marketing</td>
						<td>Ciências Sociais</td>
					</tr>
					<tr>
						<td>Fundamentos de Gestão</td>
						<td>Planejamento de Carreira</td>
						<td>Marketing Estratégico</td>
						<td>Administração de Marketing II</td>
					</tr>
					<tr>
						<td>Fundamentos da Matemática</td>
						<td>Midías Sociais</td>
						<td>Métricas de Comunicação Digital</td>
						<td>Marketing Digital</td>
					</tr>
					<tr>
						<td>Lingua Portuguesa</td>
						<td>E-Commerce</td>
						<td>Cross Media</td>
						<td>Comunicação Digital</td>
					</tr>
			</table>
		</div>
	</section>
{% endblock main %}