{% extends 'base.html' %}
{% block titulo %}
- Home Page  
{% endblock titulo %}

{% block main %}
<link rel="stylesheet" type="text/css" href="../static/css/c-publicidade.css">
    <main>
		<h1>Graduação em Publicidade e Propaganda</h1>
		
		<section>
			<h2>Objetivo do curso</h2>
				<p>O perfil do profissional desta área, graduado pela Universidade Paulista,
					 é delineado pela criatividade, que o capacita a desenvolver, com habilidade,
					 projetos pertinentes a diversas atividades de publicidade e propaganda.
					Compete ao publicitário analisar os produtos e serviços,
					descobrir a que mercado se destinam e escolher a forma ideal de apresentá-los ao público,
					garantindo, assim, as vendas. No curso oferecido pela UNIP,
					dá-se ênfase especial à criação de textos para serem veiculados nos diversos meios e veículos de comunicação,
					como televisão, rádio, revistas, bem como em outdoors,
					folders, material promocional e de ponto de venda, sempre apoiados no potencial criativo.
					 Na primeira etapa do curso, o aluno recebe uma elevada carga de informação cultural,
					que o habilita a ter uma visão ampla e crítica da realidade social e de seu cotidiano.
					 Em um segundo momento, de posse dessa visão e de conhecimentos prévios, o curso torna-se essencialmente prático,
					 garantindo a aplicação dos conhecimentos adquiridos às exigências do
					 mercado e às situações encontradas na vida profissional.</p>
		 </section>

		 <section>
			 <h2>Mercado de Trabalho</h2>
				 <p>Campo diversificado, incluindo agências de propaganda, veículos de comunicação, produtoras de áudio e vídeo,
					consultorias de comunicação, marketing e pesquisa, agências de web design,
					assessorias de comunicação e de marketing, produção gráfica,
					editoração eletrônica e promoção de eventos, entre outras áreas. </p>
					<p><b>Duração:</b> 2 anos</p>
		 </section>
	</main>
	
	<section>
		<div class="grade-curso">
			<table border='1'>
				<th colspan="4">DISCIPLINAS</th>
					<tr>
						<td><b>1° SEMESTRE</b></td>
						<td><b>2° SEMESTRE</b></td>
						<td><b>3° SEMESTRE</b></td>
						<td><b>4° SEMESTRE</b></td>
					</tr>
					<tr>
						<td>Antropologia e Cultura</td>
						<td>Economia e Gestão</td>
						<td>Comunicação e Hipermídia</td>
						<td>Agência Laboratório</td>
					</tr>
					<tr>
						<td>Comunicação e Expressão</td>
						<td>Marketing</td>
						<td>Legislação e Ética em Publicidade e Propaganda</td>
						<td>Planejamento de Campanha</td>
					</tr>
					<tr>
						<td>Desenvolvimento Pessoal e Empregabilidade</td>
						<td>Introdução À Publicidade e Propaganda</td>
						<td>Metodologia da Pesquisa</td>
						<td>Responsabilidade Socioambiental</td>
					</tr>
					<tr>
						<td>Teorias da Comunicação</td>
						<td>Teoria da Imagem</td>
						<td>Técnicas de Comunicação Dirigida</td>
						<td>Criação Publicitária</td>
					</tr>
			</table>
		</div>
	</section>
{% endblock main %}
